---
const pageTitle = "About Me";

const identity = {
    firstName: "Arsh",
    country: "India",
    occupation: "Software Engineer",
    hobbies: ["reading", "working out", "learning about new technology"],
};

const skills = ["Python", "C++", "TypeScript", "React", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "green";
const fontWeight = "bold";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <style define:vars={{ skillColor, fontWeight }}>
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
            }
        </style>

        <h1>{pageTitle}</h1>

        <p>Here are few facts about me</p>
        <ul>
            <li>My name is {identity.firstName}</li>
            <li>I live in {identity.country}</li>
            {
                identity.hobbies.length >= 2 && (
                    <li>
                        Two of my hobbies are {identity.hobbies[0]} and{" "}
                        {identity.hobbies[1]}
                    </li>
                )
            }
        </ul>

        <p>My skills are:</p>
        <ul class="skill">
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>

        {happy && <p>I am happy that I am learning Astro</p>}

        {
            !finished ? (
                <p>I am not finished with this tutorial</p>
            ) : (
                <p>I am finished with this tutorial</p>
            )
        }

        {
            goal === 3 ? (
                <p>The goal is to complete in 3 days</p>
            ) : (
                <p>The goal is not to comeplete in 3 days</p>
            )
        }
    </body>
</html>
